@model Product

@{
    Layout = "_AdminLayout";
    ViewBag.Title = TempData["RequestProduct"] = "EditOrCreate";
    ViewBag.NamePanel = "Create/Update product";

    string route = Model.ProductID != 0 ? "Edit" : "Create";
} 

@using (Html.BeginForm(route, "Product", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                <label asp-for="Name"></label>
                <input asp-for="Name" value="@Model.Name" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Price"></label>
                <input asp-for="Price" value="@Model.Price" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Discription"></label>
                <textarea style="width: 500px; height: 200px" asp-for="Discription" value="@Model.Discription"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Categories"></label>
                @if (Model.Categories != null)
                {
                    @foreach (Category category in Model.Categories)
                    {
                        <div style="display:flex;">
                            <h4 class="filter" style="pointer-events:none">@category.Name</h4>
                            @using (Html.BeginForm("DeleteCategoryToProduct", "Category", FormMethod.Post))
                            {
                                <input type="hidden" name="categoryId" value="@category.CategoryID" />
                                <button class="filter filter-delete"
                                        style="background: initial; border: initial"
                                        type="submit">
                                    <i class="fa fa-remove"></i>
                                </button>
                            }
                        </div>
                    }
                }
                @using (Html.BeginForm("AddProductToSession", "Product", FormMethod.Post))
                {
                    <input type="hidden" name="productId" value="0" />
                    <button type="submit">
                        Add Category
                    </button>
                }

            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" value="@Model.Quantity" />
            </td>
        </tr>

    </table>
    @if (route == "Edit")
    {
        <input type="hidden" name="productId" value="@Model.ProductID" />
    }
    <button type="submit">@route</button>
}

