@model ProductProfileViewModel

@{
    ViewBag.Title = "Product profile";

    string nameUser = Model.User != null ? Model.User.UserName : "NoName";
}

<div>
    <h2>User: @nameUser</h2>
    <h2>@Model.Product.Name</h2>
    <h3>@Model.Product.Description</h3>
    <h2>@Model.Product.Price</h2>
    <h4>@Model.Product.Quantity</h4>
</div>
<form asp-action="AddToCart" asp-controller="Cart" method="post">
    <input type="hidden" name="productId" value="@Model.Product.ProductID" />
    <button type="submit">Add</button>
</form>
