@model ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<table>
    <tr>
        <td>@Model.User.UserName</td>
    </tr>
    <tr>
        <td>@Model.User.Email</td>
    </tr>
    <tr>
        <td><h4>Products:</h4></td>
        @foreach (Product product in Model.Products)
        {
           <td>@product.Name</td>
        }
    </tr>
    <tr>
        <td><h4>Categories:</h4></td>
        @foreach (Category category in Model.Categories)
        {
           <td>@category.Name</td>
        }
    </tr>
</table>
<a asp-action="Logout" asp-controller="User">Logout</a>
<a asp-action="EditOrCreate" asp-controller="Product" asp-route-productId="0"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">Create product</a>

<a asp-action="EditOrCreate" asp-controller="Category" asp-route-categoryId="0"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">Create category</a>